.bar {
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  height: var(--nav-bar-height);

  display: flex;
  align-items: center;
  justify-content: flex-end;

  padding: 0 40px;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
  background-color: #ffffff;
}

.title {
  display: block;
  margin: 0 auto 0 0;
  color: var(--heading-color);
}

.link {
  font-size: 1.2rem;
  margin: 0 15px;
  text-decoration: none;
  color: var(--link-text-color);
}

.link:hover {
  color: var(--hover-color);
}

.link.active {
  text-decoration: underline;
  font-weight: 600;
  color: var(--hover-color);
}
