.bar {
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  height: var(--nav-bar-height);

  display: flex;
  align-items: center;
  justify-content: flex-end;

  padding: 0 40px;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
  background-color: #ffffff;
}

.title {
  display: block;
  margin-right: auto;
  color: var(--heading-color);
}

.link {
  font-size: 1.2rem;
  margin: 0 15px;
  text-decoration: none;
  color: var(--link-text-color);
}

.link.active {
  text-decoration: underline;
  font-weight: 600;
}

.button {
  font-size: 1.2rem;
  border-radius: 10px;
  width: 110px;
  height: 45px;
  margin: 0 15px;
  background-color: var(--button-color);
  border: none;
}

.button * {
  text-decoration: none;
  color: var(--button-text-color)
}

.button.variant {
  border: 1px solid var(--button-variant-border-color);
  background-color: var(--button-variant-color);
}
.button.variant * {
  color: var(--button-variant-text-color)
}
