.button {
  font-size: 1.2rem;
  border-radius: 10px;
  width: 110px;
  height: 45px;
  margin: 0 15px 15px;
  background-color: var(--button-color);
  border: none;
}

.button * {
  text-decoration: none;
  color: var(--button-text-color)
}

.button.variant {
  border: 1px solid var(--button-variant-border-color);
  background-color: var(--button-variant-color);
}
.button.variant * {
  color: var(--button-variant-text-color)
}

.button.clear {
  font-size: .9rem;
}

.button.noclear {
  font-size: .9rem;
}

.button:hover {
  color: var(--button-variant-text-color);
  border-color: var(--scrapbook-tool-border);
}

.button:focus {
  border-color: var(--button-variant-text-color);
  background-color: var(--selected-shape-color);
  stroke: var(--highlight-shape-color);
  stroke-width: 1px;
}