.largeBorder {
  width: 50vw;
  min-width: 400px;
  height: 70vh;
  min-height: 350px;
  position: fixed;
  background-color: var(--color-three);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.largeCard {
  object-fit: scale-down;
  padding: 50px;
  position: fixed;
  width:100%; height:100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.closeBtn {
  color: white;
}

.leftBtn {
  position: fixed;
}