@import "../../theme/colors.css";

.intro {
  height: 100vh;
  width: 80%;
  margin:auto;
}

.intro_txt {
  flex-direction: column;
  align-items: flex-start;
}

.intro_txt h1 {
  color: var(--color-head);
  font-size: 80px;
  margin-bottom: 0px;
}

.intro_txt p {
  text-align: left;
}

.intro_txt p, .intro_txt div {
  font-size: 20px;
}

.intro_txt div {
  background-color: var(--button-color);
  height: 60px;
  width: 200px;
  border-radius: 10px;
}

.intro_txt, .intro_txt div {
  justify-content: center;
}

.intro, .intro_txt, .intro_txt div {
  display: flex;
}

.intro_txt, .intro_pic {
  flex: 1;
  margin: 10px;
}

.intro_txt, .intro_pic, .intro_pic img {
  height: 85vh;
}

