:root {
  --page-background: #F9FAFA;
  --color-one: #FEB930; /* orange-yellow */
  --color-two: #FFE2A4; /* light orange-yellow */
  --color-three: #1E2F4D; /* dark-blue */
  --color-four: #CCDDEF; /* light-blue */
  --color-five: #E9E9EA; /* light-grey */
  --color-six: #DAF7A2;  /* light-green */
  /* --color-seven: #6ACF66;  neon-green */
  --color-seven: #000000; /* black */

  --landing-section-one-color: var(--page-background);

  --landing-section-two-color: var(--color-one);

  --landing-section-three-color: var(--color-four);
  --button-color: var(--color-one);
  --button-text-color: var(--color-three);

  --button-variant-color: var(--page-background);
  --button-variant-border-color: var(--color-one);
  --button-variant-text-color: var(--color-three);

  --heading-color: var(--color-three);
  --link-text-color: var(--color-three);

  --scrapbook-bar-background: var(--color-five);
  --scrapbook-tool-selection: var(--color-six);
  --scrapbook-tool-border: var(--color-three);
  --default-shape-color: var(--color-seven);
  --selected-shape-color: var(--color-one);
  --highlight-shape-color: var(--color-two);
}