@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Nunito:ital,wght@0,400;0,700;1,400;1,700&family=Yeseva+One&display=swap');

:root {
}

h1, h2, h3 {
  font-family: 'Yeseva One', serif
}

p, li, button, a {
  font-family: 'Questrial', sans-serif
}

input {
  font-family: "Comic Sans MS";
}