
.wrapper {
  position: fixed;
  height: 100vh;
  padding-bottom: 40px;
  padding-left: 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sideBar {
  background-color: var(--scrapbook-bar-background);
  height: calc(100vh - 2 * var(--nav-bar-height));
  width: 200px;
  border-radius: 20px;
}