.pageContents {
  height: calc(100vh - var(--nav-bar-height));
  width: 100vw;
  padding-top: calc(var(--nav-bar-height) + 24px);
  display: flex;
  flex-direction: row;
}

.rightWrapper {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.canvasWrapper {
  margin: 0 auto;
}