@import "../../../theme/colors.css";

.sticker {
  fill: var(--default-shape-color);
  width: 32px;
  height: 32px;
}

.selectedButton {
  color: var(--button-variant-text-color);
  /* background-color: var(--scrapbook-bar-background); */
  /* border-color: var(--scrapbook-bar-background); */
  border-color: var(--button-variant-text-color);
  background-color: var(--selected-shape-color);
  stroke: var(--highlight-shape-color);
  stroke-width: 1px;
}

.selectedButton:hover {
  color: var(--button-variant-text-color);
  border-color: var(--scrapbook-tool-border);
}

.selectedButton:focus {
  border-color: var(--button-variant-text-color);
  background-color: var(--selected-shape-color);
  stroke: var(--highlight-shape-color);
  stroke-width: 1px;
}