
.wrapper {
  position: fixed;
  height: 100vh;
  padding-top: 550px;
  padding-left: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.actionBar {
  background-color: var(--scrapbook-bar-background);
  height: 48px;
  width: 150vh;
  border-radius: 20px;
}

.selectMoveTool {
  padding-right: 970px;
  padding-top: 5px;
}

#selectMove {
  color: var(--variant-text-color);
  background-color: var(--scrapbook-bar-background); 
  border-color: var(--scrapbook-bar-background);
}

#selectMove:hover {
  color: var(--variant-text-color);
  background-color: var(--scrapbook-tool-selection);
  border-color: var(--variant-text-color);
}