.btn {
    color: var(--variant-text-color);
    background-color: var(--scrapbook-bar-background); 
    border-color: var(--scrapbook-bar-background);
  }
  
.btn:hover {
    color: var(--variant-text-color);
    border-color: var(--variant-text-color);
  }

.btn:focus {
  border-color: var(--variant-text-color);
  background-color: var(--selected-shape-color);
  stroke: var(--highlight-shape-color);
  stroke-width: 1px;
}
  